<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">-->
    <meta name="format-detection" content="telephone=no" />
    <title>{$fromname}聊天列表</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/css/themes.css?v=2017129">
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/css/h5app.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/fonts/iconfont.css?v=2016070717">
    <link rel="stylesheet" type="text/css" href="__STATIC__/newcj/css/chat_list.css">
	<script src="/static/qqFace/js/jquery.min.js"></script>
	<script src="/static/qqFace/js/jquery.qqFace.js"></script>
    <script src="__STATIC__/newcj/js/dist/flexible/flexible_css.debug.js"></script>
    <script src="__STATIC__/newcj/js/dist/flexible/flexible.debug.js"></script>

</head>
<body>
<div class='fui-page-group'>
    <div class="fui-statusbar"></div>
<div class='fui-page chat-page'>
	<div class="fui-header">
	    <div class="title">{$fromname}</div>
	    <div class="fui-header-right"></div>
	</div>

	<div class="fui-content navbar chat-fui-content" style="padding-bottom: 2rem;">


	</div>
</div>
</div>
</body>

<script type="text/javascript">
	//查看结果
	function replace_em(str){
		str = str.replace(/\</g,'&lt;');
		str = str.replace(/\>/g,'&gt;');
		str = str.replace(/\n/g,'<br/>');
		str = str.replace(/\[em_([0-9]*)\]/g,'<img src="/static/qqFace/arclist/$1.gif" border="0" />');
		return str;
	}
</script>
<script>

    var fromid ={$fromid};

    var ws = new WebSocket('ws://127.0.0.1:8282');

	//接收消息操作
	ws.onmessage = function (e) {
		console.log(e)
		var message = eval("("+e.data+")")
		$('.chat-fui-content').html('')
		switch (message.type) {
			case 'init':
				ws.send('{"type":"bind","fromid":"'+ fromid +'"}');
				get_list()
				return;

			case 'say':
				get_list()
				return;

			case 'img':
				get_list()
				return;

            case 'save':
                get_list()
                return;
		}
	}
	//动态刷新
	function get_list() {
		$.post(
			"{:url('api/Chat/get_list')}",
			{id:fromid},
			function(res){
				$.each(res,function (i,v) {
					var str = '<div class="chat-list flex" onclick="cha_page('+v.fromid+','+v.toid+')">' +
							'<div class="chat-img"  style="background-image: url('+v.head_url+')">'
					if (v.noReadCount>0){
						str +=
							'<span class="badge" style="top: -0.1rem;left: 80%;text-align: center;">'+v.noReadCount+'</span>'
					}
					str +=
						'</div>' +
						'<div class="chat-info">' +
						'<p class="chat-merch flex">' +
						'<span class="title t-28">'+v.fromname+'</span>' +
						'<span class="time">'+mydate(v.lastMessage.time)+'</span>' +
						'</p>' +
						'<p class="chat-text singleflow-ellipsis">'+replace_em(v.lastMessage.content)+'</p>' +
						'</div>' +
						'</div>';
					$('.chat-fui-content').append(str)
				})
		},'json')
	}

	//跳转聊天页面
	function cha_page(fromid,toid) {
		url = "{:url('index/index')}?fromid="+toid+"&toid="+fromid;
		location.href = url;
	}
    /**
     *根据时间戳格式化为日期形式
     */
    function mydate(nS){
        return new Date(parseInt(nS) * 1000).toLocaleString().replace(/年|月/g, "-").replace(/日/g, " ");
    }

</script>

</html>
